* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
}

.tag h1 {
    margin-bottom: 22px;
    font-size: 30px;
    padding: 2px;
}

.login-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container,
.new-customers {
    width: 500px;
    height: auto;
    padding: 32px;
    background-color: #fff;
}

.email-input,
.password-input,
.btn-register {
    display: grid;
    margin-bottom: 22px;
}

.email-input label,
.password-input label {
    margin-bottom: 12px;
    font-size: 19px;
    font-weight: bold;
}

.email-input input,
.password-input input {
    height: 40px;
    border-radius: 4px;
    border: 1px solid;
    outline: none;
    padding-left: 2px;
    font-size: 21px;
}

.forgotted {
    font-size: 17px;
    margin-bottom: 30px;
    margin-top: 32px;
}

.forgotted a {
    color: rgb(59, 57, 57);
    text-transform: uppercase;
}

.forgotted a:hover {
    text-decoration: none;
}

.btn-submit {
    display: grid;
}

.btn-submit input,
.btn-register input {
    /* border-radius: 4px; */
    border: none;
    background: rgb(15, 15, 15);
    color: #fff;
    font-size: 19px;
    padding: 12px;
    cursor: pointer;
    transition: all 0.2s;
    text-transform: uppercase;
}

.btn-submit input:hover,
.btn-register input:hover {
    background-color: rgb(52, 180, 219);
    color: #111;
}

.para-onther-op-login p {
    margin-top: 25px;
    margin-bottom: 30px;
}

.btn-face-google {
    display: flex;
    justify-content: space-around;
}

.btn-face-google a {
    text-decoration: none;
    padding: 9px 60px 9px 60px;
    border: 1px solid rgb(202, 196, 196);
    font-size: 25px;
    color: #111;
    transition: all 0.2s
}

.btn-face-google a:hover {
    background-color: rgb(223, 219, 219);
}

.new-customers {
    margin-top: 15px;
}

.text-new-user p {
    font-size: 27px;
    font-weight: bold;
}

.btn-register {
    margin-top: 25px;
    margin-bottom: 25px;
}